/**
 * General elements
 */

@import url(figure.css);

a:link { text-decoration: none;color:green;}
a:hover { text-decoration: underline;color:green;}
a:visited { text-decoration: none;color:green;}

body {
  color: #000000;
  font-family: arial, sans-serif;
  overflow-y: scroll;
}

h1 {
  font-size: 1.2em;
}


/**
 * Layout of the main page elements 
 */
#wrapper {
  margin: 0 auto;
  width: 780px; 
  padding: 9px;
}


/**
 * Layout for header
 */
#header {
  position: relative;
  margin-bottom: 25px;
  background-color: #ffffff;
  width: 740px; 
	height: 78px;

}

.sitelogo {
  margin-top: 1px;
	border:3px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.sitetitle {
  margin-top: 1px;
  position: absolute;
  left: 83px;
  font-size: 38px;
	color: #000003;
}

.siteslogan {
  position: absolute;
  top: 65px;
  left: 130px;
  font-style: italic;
  color: #666;
}


/**
 * Layout for main
 */
#main {
  min-height: 20em;
}


/**
 * Layout for footer
 */
#footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 22px;
}

.sitefooter {
 width: 700px;
  color: #666;
}


/**
 * For articles
 */
.article1 {
  width: 700px;
  padding-right: 1em;
}
/*
.article1 h1,
*/
.article1 h2 {
  border-bottom: 1px solid #ccc;
}

.byline {
 width: 700px;
  margin-top: 44px;
  border-top: 1px dashed #ccc;
  padding-top: 22px;
  color: #666;
}

.byline p {
  margin-top: 0;
}
/*
	form
*/
textarea {
  height:33%;  
  width:33%;'
}
